# Dependencies
/server/node_modules
/client/node_modules

# Production Builds
/server/dist
/client/dist

# Docker volumes
/docker/volumes

# Secrets
.env

# Testing
/server/coverage
/client/coverage

# Logging
/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# IDEs
.idea
.vscode

# Misc
.DS_Store

